<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Game Home</title>
  <style type="text/tailwindcss">
    @theme {
      --color-primary: #d946ef;   
      --color-secondary: #fdf4ff; 
      --color-tertiary: #1b0f24;  
      --color-border: #a855f7;    
    }
  </style>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://unpkg.com/htmx.org@1.9.10"></script>
</head>
<header>
</header>
<body>
    <div id="main" hx-get="/home-page" hx-trigger="load" hx-swap="innerHTML"></div>
  <script>
    function createGame(){
      console.log("button clicked")
    }

    function handlePieceClick(piece){
      if (currentPiece == null){ 
        if (!piece.classList.contains("scale-125")){
          piece.classList.toggle("scale-125")
        }
        currentPiece = piece
      } else { 
        if (currentPiece == piece) {
          if (piece.classList.contains("rotate-90")){
            piece.classList.replace("rotate-90","rotate-180")
          } else if (piece.classList.contains("rotate-180")){
            piece.classList.replace("rotate-180","rotate-270")
          } else if (piece.classList.contains("rotate-270")){
            piece.classList.replace("rotate-270","rotate-360")
          } else if (piece.classList.contains("rotate-360")){
            piece.classList.replace("rotate-360", "rotate-90")
          } else {
            piece.classList.toggle("rotate-90")
          }
        } else {
          currentPiece.classList.toggle("scale-125")
          piece.classList.toggle("scale-125")
          currentPiece = piece
        }
      }
    }
    

    function handlePieceDrag(piece){
      piece.classList.toggle("scale-110")
      console.log(piece.getBoundingClientRect())
    }

    function handlePieceRelease(piece){
      board_dimensions = board.getBoundingClientRect()
      piece_dimensions = piece.getBoundingClientRect()
      piece_x = piece_dimensions.x
      piece_y = piece_dimensions.y 

      if (piece_x >= board_dimensions.x && piece_x <= board_dimensions.x + board_dimensions.width && piece_y >= board_dimensions.y && piece_y <= board_dimensions.y + board_dimensions.height){
        console.log("placment time")
      } else {
        console.log("we gucci")
      }
      piece.classList.toggle("scale-110")
    }
    

    let currentPiece = null
    let pieces = null
    let board = null

    document.addEventListener('htmx:afterSwap', (event) => {
      switch (event.target.children[0].id){
        case "home-page":
          smallButton = event.target.querySelector("#small")
          smallButton.addEventListener("click", () => createGame())
          mediumButton = event.target.querySelector("#medium")
          mediumButton.addEventListener("click", () => createGame())
          largeButton = event.target.querySelector("#large")
          largeButton.addEventListener("click", () => createGame())
        break
        case "game":
          board = event.target.querySelector("#puzzle-board")
          pieces = event.target.querySelectorAll('[id^="piece-"]')
          pieces.forEach(piece => {
            piece.addEventListener("click", () => handlePieceClick(piece))
            piece.addEventListener("mousedown", () => handlePieceDrag(piece))
            piece.addEventListener("mouseup", () => handlePieceRelease(piece))
          })  
        break
      }
    })

  </script>
</body>
<footer>
    <license class="ml-16 opacity-70 "> 
     Designed by Isaiah Ashton-Kenny | All rights reserved.</license>
</footer>
</html>